<p id="notice"><%= notice %></p>

<p>
  <strong>Publico:</strong>
  <%= @centro_salud.publico %>
</p>

<%= link_to 'Edit', edit_centro_salud_path(@centro_salud) %> |
<%= link_to 'Back', centro_saluds_path %>
