<p id="notice"><%= notice %></p>

<p>
  <strong>Registro go:</strong>
  <%= @aseguradora.registro_go %>
</p>

<%= link_to 'Edit', edit_aseguradora_path(@aseguradora) %> |
<%= link_to 'Back', aseguradoras_path %>
