<p id="notice"><%= notice %></p>

<p>
  <strong>Reg sanitario:</strong>
  <%= @farmacium.reg_sanitario %>
</p>

<%= link_to 'Edit', edit_farmacium_path(@farmacium) %> |
<%= link_to 'Back', farmacia_path %>
